{
  "cache": {
    "setup": "external or internal",
    "storage": {
      "strategy": "singleEvent or multiEvent",
      "policy": {
        "archiveBy": "Object or Array",
        "eventLimit": 10
      },
      "eventTrigger": {
        "primaryEvent": ["Path", "to", "data", "in", "JSONObj"],
        "secondaryEvent": ["Path", "to", "data", "in", "JSONObj"]
      },
      "byteSizeWatermark": 1000000
    },
    "flushStrategy": "single or multi"
  }
}
