{
	"broker":{
		"host":"localhost",
		"port":6379,
        "":"",
		"retry.interval":"10",
	},
	"producers":{
		"main.producer":{
			"topic":["GZA","RZA"],
			"ack":true,
            "flow.location":"upstream"
		}
	},
	"consumers":{
		"main.consumer":{
			"topic":["ODB","Inspecta Deck"],
			"ack":true,
			"process.limit":"3"
		}
	}
}


