{
	"microservice.metadata":{
      "service.id": "Test.Flow",
      "component.id":"Client",
      "errorPayload": {
        "queue":"Test.Flow.Client.error"
      },
      "errorMessage": {
        "queue":"Test.Flow.client.error.message"
      }
  },
  "broker":{
		"host":"localhost",
		"port":6379,
    "retry.attempts": null,
		"retry.interval": 10
	},
	"publishers":{
		"main.publisher":{
			"queue":"client.downstream",
			"ack":true
		}
	},
	"subscribers":{
		"main.subscriber":{
			"queue":"client.relay",
			"type":"persistent"
		}
	}
}
