{
	"microservice.metadata":{
      "service.id": "Automated.Lights",
      "component.id":"BLERelay"
    },
    "broker":{
		"host":"localhost",
		"port":6379,
        "retry.attempts": null,
		"retry.interval": 10
	},
	"publishers":{
		"BLERelay.Redis":{
			"queue":"BLERelay.Raw.Data.1",
			"ack":true
		}
	},
	"subscribers":{
		"main.subscribe":{
			"queue":"testQueue",
			"ack":true
		}
	}
}


