{
	"microservice.metadata":{
      "service.id": "BLE.Services",
      "component.id":"BLE.Filter",
      "errorPayload": {
        "queue":"BLE.Filter.error"
      },
      "errorMessage": {
        "queue":"BLE.Filter.errorMessage"
      }
    },
    "broker":{
		"host":"localhost",
		"port":6379,
    "retry.attempts": null,
		"retry.interval": 10
	},
	"publishers":{
		"BLEFilter":{
			"queue":"BLE.Filter"
		},
    "BLEEvents":{
      "queue":"BLE.Events"
    }
	},
  "subscribers":{
    "BLERelay":{
      "queue":"BLE.Relay"
    }
  }
}
