{
	"microservice.metadata":{
      "service.id": "Test.Flow",
      "component.id":"DownStream",
      "errorPayload": {
        "queue":"Test.Flow.Relay.error",
        "ack": true
      },
      "errorMessage": {
        "queue":"Test.Flow.Relay.error.message",
        "ack": true
      }
    },
    "broker":{
		"host":"localhost",
		"port":6379,
        "retry.attempts": null,
		"retry.interval": 10
	},
	"publishers":{
		"main.publisher":{
			"queue":"upstream.relay"
		}
	},
	"subscribers":{
		"main.subscriber":{
			"queue":"relay.downstream",
			"type":"transient"
		}
	}
}
