{
	"microservice.metadata":{
      "service.id": "Test.Flow",
      "component.id":"UpStream",
      "errorPayload": {
        "queue":"Test.Flow.error",
        "ack": true
      },
      "errorMessage": {
        "queue":"Test.Flow.errorMessage",
        "ack": true
      }
    },
    "broker":{
		"host":"localhost",
		"port":6379,
        "retry.attempts": null,
		"retry.interval": 10
	},
	"publishers":{
		"main.publisher":{
			"queue":"upstream.relay",
			"ack":true
		}
	},
	"subscribers":{
		"main.subscribe":{
			"queue":"testQueue",
			"ack":true
		}
	}
}
