{
  "microservice.metadata":{
    "service.id": "BLE",
    "component.id":"BLEProcessor",
    "errorPayload": {
      "queue":"BLEProcessor.errorPayload",
    },
    "errorMessage": {
      "queue":"BLEProcessor.errorMessage",
    }
  },
  "broker":{
    "host":"redisMQ",
    "port":6379,
    "retry.attempts": null,
    "retry.interval": 10
  },
  "publishers":{
    "main.publisher":{
      "queue":"Plug.input",
    }
  },
  "subscribers":{
    "main.subscriber":{
      "queue":"BLE.Raw",
      "type":"persistent"
    }
  }
}


